#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);

}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

ion-toolbar {
  display: flex; /* Usar Flexbox */
  justify-content: center; /* Centraliza horizontalmente */
}

ion-title {
  text-align: center; /* Centraliza o texto dentro do título */
}

.logo {
  height: 40px;
}
.custom-button {
  display: inline-block;
  padding: 0.10rem 1.25rem;
  border-radius: 10rem;
  color: #fff; /* Cor do texto */
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.15rem;
  transition: all 0.3s ease-in-out;
  position: relative;
  overflow: hidden;
  z-index: 1;
  background-color: #0cf; /* Cor de fundo #0cf */
  border: none; /* Remove a borda padrão */
}

.custom-button ion-icon {
  font-size: 1.5rem; /* Tamanho do ícone */
}

.custom-button::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0cf; /* Cor de fundo #0cf */
  border-radius: 10rem;
  z-index: -2;
}




