ion-header {
  --background: #ffffff; /* Define a cor de fundo do cabeçalho como branca */

}

ion-content {
  --background: #ffffff; /* Fundo branco para o conteúdo */
}

ion-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  --background: #ffffff; /* Define a cor de fundo da barra de ferramentas como branca */
}

.button-header{
  background-color: #458aa7; /* Cor de fundo */
  color: white; /* Cor do texto */
  border-radius: 10rem; /* Bordas arredondadas */
  padding: 0.30rem 1.25rem; /* Espaçamento interno */
  border: none; /* Remove a borda padrão */
  margin-right: 10px; /* Margem à direita */
  font-size: 1rem; /* Tamanho da fonte */
}


ion-title {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.logo {
  width: 120px;
  height: auto;
}

ion-buttons {
  order: 10; /* Coloca o botão antes do título */
}
ion-list {
  background-color: #ffffff; /* Define o fundo da lista como branco */
  border-radius: 8px; /* Adiciona bordas arredondadas aos itens da lista */
  padding: 20px; /* Adiciona espaçamento interno */
}

ion-item {
  max-width: none; /* Ajuste conforme necessário */
  width: 100%;
  --background: #ffffff; /* Fundo branco para ion-item */
  --inner-background: #ffffff; /* Fundo branco para conteúdo interno do ion-item */
  color: #458aa7;
}

