<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <img src="assets/icon/logoestoque.png" class="logo" alt="Logo Estoque">
    </ion-title>
    <ion-buttons slot="end">
      <button class="custom-button" ion-button icon-only (click)="save()">
        Salvar
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Formulário de peças</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item>
      <ion-label position="stacked">Nome da peça:</ion-label>
      <ion-input [(ngModel)]="produto.nome"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Categoria da peça:</ion-label>
      <ion-select [(ngModel)]="produto.tipo">
        <ion-select-option value="freios">Sistema de Freios</ion-select-option>
        <ion-select-option value="filtro">Filtros</ion-select-option>
        <ion-select-option value="suspensao">Sistema de Suspensão</ion-select-option>
        <ion-select-option value="arrefecimento">Sistema de Arrefecimento</ion-select-option>
        <ion-select-option value="motor">Sistema de Motor</ion-select-option>
        <ion-select-option value="transmissao">Sistema de Transmissão</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>
</ion-content>
