ion-header {
  --background: #ffffff; /* Define a cor de fundo do cabeçalho como branca */

}

ion-content {
  --background: #ffffff; /* Fundo branco para o conteúdo */
}

ion-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  --background: #ffffff; /* Define a cor de fundo da barra de ferramentas como branca */
}

.button-header{
  background-color: #458aa7; /* Cor de fundo */
  color: white; /* Cor do texto */
  border-radius: 10rem; /* Bordas arredondadas */
  padding: 0.30rem 1.25rem; /* Espaçamento interno */
  border: none; /* Remove a borda padrão */
  margin-right: 10px; /* Margem à direita */
  font-size: 1rem; /* Tamanho da fonte */
}


ion-title {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.logo {
  width: 120px;
  height: auto;
}

ion-buttons {
  order: 10; /* Coloca o botão antes do título */
}
ion-list {
  background-color: #ffffff; /* Define o fundo da lista como branco */
  border-radius: 8px; /* Adiciona bordas arredondadas aos itens da lista */
  padding: 20px; /* Adiciona espaçamento interno */
}

ion-item {
  max-width: none; /* Ajuste conforme necessário */
  width: 100%;
  --background: #ffffff; /* Fundo branco para ion-item */
  --inner-background: #ffffff; /* Fundo branco para conteúdo interno do ion-item */
  color: #458aa7;
}

/* Ajusta a posição do rótulo e da caixa de data */
ion-item ion-label {
  font-weight: bold;  /* Deixa o texto em negrito */
  margin-bottom: 10px; /* Ajusta a distância entre o rótulo e a caixa de data */
}
ion-item {
  margin-bottom:2px; /* Adiciona espaçamento entre os itens do formulário */
}

.error-message {
  color: red; /* Define a cor da mensagem de erro */
  font-size: 12px; /* Ajusta o tamanho da fonte da mensagem de erro */
  margin-top: 4px;  /* Adiciona margem acima da mensagem de erro */
}

ion-datetime {
  --border-radius: 10px; /* Bordas arredondadas */
  --background: #fbfbfb; /* Cor de fundo */
  --color: white; /* Cor do texto dentro do campo */
}

ion-item {
  margin-bottom: 10px; /* Espaçamento inferior, ajuste conforme necessário */
}

.error-message {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}
