/* Estilo do cabeçalho */
ion-header {
  --background: #ffffff; /* Define a cor de fundo do cabeçalho como branca */

}

ion-content {
  --background: #ffffff; /* Fundo branco para o conteúdo */
}

ion-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  --background: #ffffff; /* Define a cor de fundo da barra de ferramentas como branca */
}

/* Estilo do botão personalizado */
.button-header{
  background-color: #458aa7; /* Cor de fundo */
  color: white; /* Cor do texto */
  border-radius: 10rem; /* Bordas arredondadas */
  padding: 0.30rem 1.25rem; /* Espaçamento interno */
  border: none; /* Remove a borda padrão */
  margin-right: 10px; /* Margem à direita */
  font-size: 1rem; /* Tamanho da fonte */
}

/* Estilo do título no cabeçalho */
ion-title {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}


/* Estilo do logo */
/* Estilo do logo com responsividade */
.logo {
  width: 120px;
  height: auto;
}

/* Estilo dos botões */
ion-buttons {
  order: 10; /* Coloca o botão antes do título */
}
/* Estilo da lista */
ion-list {
  background-color: #ffffff; /* Define o fundo da lista como branco */
  border-radius: 8px; /* Adiciona bordas arredondadas aos itens da lista */
  padding: 20px; /* Adiciona espaçamento interno */
}
ion-item {
  max-width: none; /* Ajuste conforme necessário */
  width: 100%;
  --background: #ffffff; /* Fundo branco para ion-item */
  --inner-background: #ffffff; /* Fundo branco para conteúdo interno do ion-item */
  color: #458aa7;
}


/* Estilo da caixa de pesquisa personalizada */
.custom-searchbar {
  --background: #ffffff; /* Cor de fundo da caixa de pesquisa */
  --placeholder-color: #000000; /* Cor do texto de placeholder */
  --color: #000000; /* Cor do texto */
  --icon-color: #007acc; /* Cor do ícone de pesquisa */
  --input-background: #ffffff; /* Cor de fundo da área de entrada de texto */
  --padding-start: 15px; /* Espaçamento interno à esquerda */
  --padding-end: 15px; /* Espaçamento interno à direita */
  border-radius: 10rem; /* Bordas arredondadas */
}
/* Estilo geral para o item da lista */
.produto-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1px;
  background-color: #ffffff;
  border-radius: 8px;
  margin-bottom: 10px;
  min-width: 0; /* Previne estouros horizontais */
}



/* Ajuste do botão de lixeira */
.button-trash {
  background-color: #458aa7;
  color: white;
  border-radius: 10rem;
  padding: 0.30rem 1.25rem;
  border: none;
}

/* Estilo da informação do produto */
.produto-info-container {
  display: flex;
  flex-direction: row; /* Coloca os itens em linha */
  justify-content: space-between; /* Espaça os itens igualmente */
  align-items: center;
  flex-grow: 1; /* Faz o contêiner crescer para ocupar espaço */
  margin-left: 10px;
}

.produto-nome, .produto-local, ion-note {
  margin-right: 10px; /* Espaçamento entre os itens */
  font-size: 1rem;
  color: #458aa7;
}

.produto-local {
  color: #000;
}

ion-note {
  color: #757575;
}

/* Estilos responsivos com media queries */
@media (max-width: 600px) {
  .produto-info-container {
    flex-direction: row; /* Mantém os itens em linha mesmo em telas pequenas */
    flex-wrap: wrap; /* Permite que os itens quebrem para a próxima linha em telas pequenas */
  }

  .produto-nome, .produto-local, ion-note {
    font-size: 0.85rem; /* Reduz o tamanho da fonte em telas menores */
    margin-right: 5px; /* Reduz o espaçamento em telas menores */
  }

  .button-trash {
    padding: 0.25rem 1rem; /* Ajusta o padding do botão em telas menores */
  }
}

@media (min-width: 601px) {
  .produto-info-container {
    flex-direction: row; /* Mantém os itens em linha em telas maiores */
  }

  .produto-nome, .produto-local, ion-note {
    font-size: 1rem; /* Tamanho da fonte normal em telas maiores */
    margin-right: 10px; /* Espaçamento normal entre os itens */
  }
}
.search-bar-container {
  display: flex;
  align-items: center;
}

.custom-searchbar {
  flex: 1;
}

.button-header {
  margin-left: 10px;
}

.hidden {
  display: none;
}
/* Definindo as fontes para todo o conteúdo */
body, ion-header, ion-toolbar, ion-title, ion-label, ion-input {
  font-family: 'Nunito', sans-serif; /* Ou 'Raleway' ou 'Ubuntu' conforme sua preferência */
}

/* Para títulos, pode usar a fonte Raleway */
h1, h2, h3 {
  font-family: 'Raleway', sans-serif;
}

/* Você pode alternar entre as fontes como desejar */
p {
  font-family: 'Ubuntu', sans-serif;
}
