<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <img src="assets/icon/logoestoque.png" class="logo">
     </ion-title>
  </ion-toolbar>
</ion-header>




<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">inventaio</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>
<div class="center-container">
  <ion-item>
    <ion-label position="floating">codigodapeca</ion-label>
    <ion-input type="number" [(ngModel)]="codigodapeca"></ion-input>
  </ion-item>
</div>


