  ion-title {
    text-align: center; /* Centraliza o texto dentro do título */
  }

  .logo {
    height: 40px;
  }

  .center-container {
    display: flex;
    justify-content: center;

    height: 80vh; /* Ocupa 100% da altura da viewport */
  }

  ion-item {
    max-width: 300px; /* Ajuste conforme necessário */
    width: 100%;
    --border-radius: 50rem;  /* Adiciona bordas arredondadas */


  }

