<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <img src="assets/icon/logoestoque.png" class="logo" alt="Logo Estoque">
    </ion-title>
    <ion-buttons slot="end">
      <button class="button-header" ion-button icon-only (click)="GotoTela3()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </button>

        <a href="https://www.linkedin.com/in/felipe-moreira-nascimento-1b327124a/">
        <button class="button-header">
          <ion-icon name="logo-linkedin"></ion-icon>
        </button></a>

        <a href="https://www.instagram.com/felipe_m0reir4/">
          <button class="button-header">
            <ion-icon name="logo-Instagram"></ion-icon>
          </button></a>

    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">info</ion-title>
    </ion-toolbar>
  </ion-header>
  

  <div class="text-center">
    <h1><p>
      COMO USAR
    </p></h1>

    <h5><p>ACESSANDO A PAGINA INICIAL</p></h5>
    <p>Quando o usuário abre o aplicativo, ele será direcionado para a página inicial que contém:
      
      <H5><p>LOGO DO ESTOQUEMAIS</p></H5>
      Botões de Navegação: Há botões para navegar entre diferentes partes do aplicativo, como a tela inicial, formulário de cadastro de produtos e exportação para Excel.
     
     <h5><p>BOTÃO DE VOLTAR </p></h5> Este botão permite que o usuário retorne à tela anterior ou à tela inicial, dependendo de onde ele está dentro do aplicativo.
      <h5><p>BOTÃO DE EXPORTAÇÃO EM PLANILHA</p></h5>Se o usuário precisar exportar os dados do inventário para um arquivo Excel, ele pode clicar neste botão. Essa funcionalidade é útil para gerar relatórios ou armazenar as informações fora do aplicativo.

     <H5><P>BOTÃO ADICIONAR PRODUTO</P></H5>O usuário é direcionado para a página do formulário de cadastro de produto, onde ele pode preencher informações sobre um novo item de estoque.
  </div>

  
</ion-content>

