<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Acesso</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <img src="assets/icon/logoestoque.png" class="logo">

    <h2>Acesso</h2>
    <ion-item style="background-color: #ffffff; --background: #ffffff;">
      <ion-input fill="clear" type="text" [(ngModel)]="numeroAcesso" style="background-color: #ffffff; --background: #ffffff; color: #458aa7;"></ion-input>
    </ion-item>

    <h2 style="margin-bottom: 10px;">Senha</h2>

    <ion-item style="background-color: #ffffff; --background: #ffffff;">
      <ion-input fill="clear" type="password" [(ngModel)]="senha" style="background-color: #ffffff; --background: #ffffff; color: #458aa7;"></ion-input>
    </ion-item>


    <ion-button fill="clear" (click)="login()">
      Login
    </ion-button>
  </div>
</ion-content>
