#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: center; /* Centraliza o conteúdo horizontalmente */
}

#container h2 {
  margin: 10px 0; /* Ajuste o espaçamento entre os títulos e os inputs */
  display: inline-block;
  padding: 0.10rem 1.25rem;
  border-radius: 10rem;
  color: #458aa7; /* Cor do texto */
  text-transform: uppercase;
  font-size: 1rem;
}


#container ion-button {
  margin-top: 20px;
}

.button {
  display: inline-block;
  padding: 0.10rem 1.25rem;
  border-radius: 10rem;
  color: #fff;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.15rem;
  transition: all 0.3s ease-in-out;
  position: relative;
  overflow: hidden;
  z-index: 1;
  background-color: #458aa7;
  border: none;
}

.logo {
  height: 100px;
  margin-bottom: 20px;
}

ion-content {
  --background: #ffffff;
}
/* Definindo as fontes para todo o conteúdo */
body, ion-header, ion-toolbar, ion-title, ion-label, ion-input {
  font-family: 'Nunito', sans-serif; /* Ou 'Raleway' ou 'Ubuntu' conforme sua preferência */
}

/* Para títulos, pode usar a fonte Raleway */
h1, h2, h3 {
  font-family: 'Raleway', sans-serif;
}

/* Você pode alternar entre as fontes como desejar */
p {
  font-family: 'Ubuntu', sans-serif;
}
